/*
*{
 border: 1px solid red; 
}
*/

.nav-link {
    color: grey;
    font-weight: 700;
}

.nav{
    font-family: 'Raleway', sans-serif;
    position: relative;
    text-align: right;
    line-height: 50px;
    right: 30px;

}
#ul{
	 list-style-type: none;

}
.nav-link {
    color: grey;
    font-weight: 700;
}


#aboutMeTitle{
  font-family: 'Raleway', sans-serif;
  position: relative;
  margin-left: 45%;
  font-size: 60px;
  margin-top: -60px;
}

#firstimage{
    position: relative;
    height: 500px;
    margin-top: 100px;
    margin-left: 200px;
}
#firstPara{
    width:550px;
    height: 420px;
    font-size: 30px;
    word-wrap: break-word;
    position: relative;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    position: relative;
    left: 50%;
    margin-top: -450px;

} 

