.nav{
    font-family: 'Raleway', sans-serif;
    font-weight: 0px;
    text-align: right;
    position: absolute;
    line-height: 50px;
    margin-left: 1250px;
    right: 30px;

   
}
#ul{
	 list-style-type: none;

}
.nav-link {
    color: grey;
    font-weight: 700;
}

