
/*
*{
 border: 1px solid red; 
}
*/

html {
  overflow: scroll;
  overflow-x: hidden;
  min-height: 100%;
  position:relative;

}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

body{

  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, #00BFFF, #E0FFFF);
  margin-bottom: 250px;

}

.nav-link {
    color: grey;
    font-weight: 700;
}

.nav{
    font-family: 'Raleway', sans-serif;
    position: absolute;
    text-align: right;
    line-height: 50px;
    right: 15px;
    z-index:1; 
    margin-top: -100px;

}
.nav li {
    display: none;
    list-style-type: none;

}

@keyframes fadein {
  0% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}

#ul{
	 list-style-type: none;

}



#aboutMeTitle{
  font-family: 'Raleway', sans-serif;
  position: relative;
  margin-left: 45%;
  font-size: 60px;
  animation: type 1.5s;
  overflow:hidden;
  white-space: nowrap;
  margin-top: 100px;

  /*border-right: 4px solid black;*/

}
@keyframes type{
    0%{
        width: 0ch;
    }
    100%{
        width: 8ch;
    }
}

/*
  animation: smalltitleanimation 3.5s 1;
  animation-delay: 0s;
}

@keyframes smalltitleanimation{
  0%{
    opacity: 0;
    bottom: 40px;
  }
  80%{
    opacity:0;
    bottom: 40px;
  }
  80%{
    opacity:1;
    bottom: 0px;
  }
}
*/

#firstimage{
    position: relative;
    /*height: 500px; */
    display: flex;
    width:27%;
    margin-top: 10%;
    margin-left: 200px;
    margin-bottom: 100px;
}
#firstPara{
    width:40%;
    height: auto;
    /*
    font-size: 30px;
    */
    
    /*
    font-size: 180%;
    */
    font-size: 2vw;
    word-wrap: break-word;
    position: relative;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    left: 50%;

    
    margin-top: -550px;
    

    /*border: 1px solid red; */
    animation: fadein 3s 1;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-delay: 1.5s;

}





