

*{ 
  border: 1px solid red;
}


html {
    overflow: scroll;
    overflow-x: hidden;

}

#wrapper{
    min-width:1792px;
}
body{
    background-color:#F5F5F5;
}
::-webkit-scrollbar {
    width: 0px;  
    background: transparent;  
}

::-webkit-scrollbar-thumb {
    background: #FF0000;
}


.content{
    min-width: 1000px;
    min-height: 1000px;

}

.front{

   /* border: 1px solid red;*/
    margin-bottom: -10%;
}

.profilepic {
    background-image: url(images/snow.jpg);
    position: absolute;
    height: 1350px;
    width: 1200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -1000px;
    margin-left: -9px;
 
}

.introImages {
    height: 100px;
    padding: 20px;

}
.socials{
    font-size: 100%;
    float: right;
    padding-right: 50px;
}




.introTitle {
    font-family: 'Raleway', sans-serif;
    position: relative;
    top: -70px;
    font-size: 400%;
    text-transform: uppercase;
    text-align: center;
    left:70%;
    width: 400px;
    animation: animation 2s;
    margin-top: 250px;
}

@keyframes animation{
   0%{
    color: #F4F4F4;
    left: 10px;
  }
}

.hr{
    padding-left: 5px;
    position: absolute;
    height: 25px;
    margin-top: -130px;
    margin-left: 66%;
    opacity: 0;
    animation: fadein 2s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}



#introPara {
    padding-top: 10px;
    padding-left: 10px;

    font-family: 'Raleway', sans-serif;
    width:420px;
    height: 50px;
    word-wrap: break-word;
    text-align: left;
}

.bottom{
    position: relative;
    bottom: -140px;
    width: 20%;
    margin-left: 80%;
    top: 110%;

}



@keyframes fadein {
  0% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}


.arrow {
    width: 5%;
    margin-top: 20%;
    margin-left: 47%;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    position: relative;
    overflow: auto;
}

@keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    60% {
        -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}

#experience {
    padding-top: 0px;
    margin-top: 0px;
   min-width: 1792px;
    min-height: 1000px;

    /* background: linear-gradient(to top, #00BFFF, #E0FFFF); */
}

.vline
{   

    margin-top: 1420px; 
    height: 740px;
    padding-left:888px;
    position: absolute;
    top: 0;
    width: 1px;
    border:none;
    border-right:solid 1px black;
    z-index:10;
}


.center_text{
    padding-top: 1%;
    text-align: center;
    color: #001418;
  font-weight: 600;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2em;

}

.circle:before {
    padding-top: 35px;
    position: absolute;
  content: ' \25CF';
  font-size: 20px;
left:-60px;
    padding-left: 951.5px;
}

#exp1{
    font-family: 'Josefin Sans', sans-serif;
    color: #182153;
    min-width: 1792px;
    height: 100px;
}

.exp_text{
    padding-top: 1%;
    min-width: 1792px;
    min-height: 200px;
}
.left_exp{
    text-align: right;
    position:absolute; 
    left:-60px;
    padding-left: 500px;
}
.right_exp{
    position:absolute; 
    left:-60px;
    padding-left: 1200px;
}

.date{
    font-size: 1.3em;
    font-weight: 600;
}

.company{
    font-size: 1.3em;
    font-weight: 600;
}

.role{
    font-size: 1em;
    min-width: 250px;
}

.job_descr{
    font-size: 1em;
    min-width: 250px;
}