.nav{
    font-family: 'Raleway', sans-serif;
    font-weight: 0px;
    text-align: right;
    position: relative;
    line-height: 50px;
    margin-left: 1250px;

}
#projectsTitle{
    font-family: 'Raleway', sans-serif;
	position: absolute;
    margin-left: 650px;
    font-size: 60px;
    margin-top: -20px;
}
#projectimages{
  	width: 250px;
 	height: 250px;
}

.images{
	position: relative;
	margin-top: 150px;
  	display: flex;
 	justify-content: space-between;
 	margin-right: 50px;
 	margin-left: 50px;
}
