.nav{
    font-family: 'Raleway', sans-serif;
    font-weight: 0px;
    text-align: right;
    position: absolute;
    line-height: 50px;
    margin-left: 1250px;

}
#projectsTitle{
    font-family: 'Raleway', sans-serif;
	position: absolute;
    margin-left: 650px;
    font-size: 60px;
    margin-bottom: 3000px;
}
#projectimages{
  	width: 250px;
 	height: 250px;
}

#container {
  text-align: justify;
}

/*
.images{
	background-color: blue;
  	display: flex;
 	justify-content: space-between;
  	margin-top: 300px;
}
*/