.nav-link {
    color: grey;
    font-weight: 700;
}
#ul{
   list-style-type: none;
}

.nav{
    font-family: 'Raleway', sans-serif;
    font-weight: 0px;
    position: relative;
    text-align: right;
    line-height: 50px;
    right: 30px;

}
#projectsTitle{
    font-family: 'Raleway', sans-serif;
	position: absolute;
    margin-left: 650px;
    font-size: 60px;
    margin-top: -60px;
}

#projectsPara{
    font-family: 'Raleway', sans-serif;
    position: absolute;
    text-align: center;
    margin-left: 250px;
    font-size: 20px;
    top: 200px;
}




.images{
	position: relative;
	margin-top: 150px;
  display: flex;
 	justify-content: space-between;
 	margin-right: 50px;
 	margin-left: 50px;
}

.webifyContainer {
  position: relative;
  width: 20%;
}
.droneContainer {
  position: relative;
  width: 20%;
}
.latexContainer {
  position: relative;
  width: 20%;
}

.minimaxContainer{
   position: relative;
  width: 20%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0s ease;
  background-color: #202020;
}

.webifyContainer:hover .overlay {
  opacity: 0.9;
}
.droneContainer:hover .overlay {
  opacity: 0.9;
}
.latexContainer:hover .overlay {
  opacity: 0.9;
}
.minimaxContainer:hover .overlay {
  opacity: 0.9;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
